header {
    // position: fixed;
    // width: 100%;
    // top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0360BF;
    height: 110px;
    border-bottom: 1px solid gray;
    font-family: 'Varela Round', sans-serif;
}

.greeting-nav {
    margin: 40px;
}

.greeting-nav > a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 15px;
}

.header-link {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-family: 'VT323', monospace;
    font-size: 30px;
}

.header-link > p {
    margin: 30px;
    margin-left: 0;
    color: white;
}