.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0360BF;
    height: 110px;
    border-bottom: 2px solid #045BB6;
    font-family: 'Varela Round', sans-serif;
}

.greeting-nav {
    margin: 40px;
}

.greeting-nav > a {
    color: #D1E0F3;
    text-decoration: none;
    margin: 20px;
    font-size: 15px;
}

.greeting-nav > a:hover {
    color: white;
}

.header-link {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-family: 'VT323', monospace;
    font-size: 30px;
}

.header-link > p {
    margin: 30px;
    margin-left: 0;
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer-icon > a {
    margin: 4px;
}

// footer is not showing on greeting page yet