.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0360BF;
    height: 110px;
    border-bottom: 2px solid #045BB6;
    font-family: 'Varela Round', sans-serif;
}

.greeting-nav {
    margin: 40px;
}

.greeting-nav > a {
    color: #D1E0F3;
    text-decoration: none;
    margin: 20px;
    font-size: 15px;
}

.greeting-nav > a:hover {
    color: white;
}

.header-link {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-family: 'VT323', monospace;
    font-size: 30px;
}

.header-link > p {
    margin: 30px;
    margin-left: 0;
    color: white;
    position: relative;
    top: 5px;
}

.greeting-signup-button {
    background-color: transparent;
    border: 2px solid #D1E0F3;
    color: #D1E0F3;
    border-radius: 5px;
    text-align: center;
    width: 145px;
    height: 35px;
    font-size: 15px;
}

.greeting-signup-button:hover {
    border: 2px solid white;
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer-icon > a {
    margin: 4px;
}

.greeting-page-pics {
    position: relative;
    height: 900px;
    width: 100%;
    background-color: #0360BF;
    font-family: 'Varela Round', sans-serif;
}

.greeting-page-pics > p {
    position: relative;
    top: 120px;
    color: white;
    font-size: 45px;
    text-align: center;
}

.greeting-page-pics > a {
    position: relative;
    top: 100px;
}

.greeting-page-pics > img {
    position: relative;
    top: 130px;
    width: 700px;
}

.michelle-andrew-say {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 148px;
    justify-content: space-evenly;
}

.michelle-andrew-say > p {
    background-color: #F7F6FB;
    padding: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 3px;
    box-shadow: 1px 3px #2F83D9;
    font-size: 16px;
}

.greeting-signup-button-1 {
    background-color: #D24B05;
    color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid grey;
    text-align: center;
    width: 200px;
    height: 50px;
    font-size: 20px;
}

.greeting-signup-button-1:hover {
    background-color: #b94003;
}