.main-page {
    background-color: #D7E7F5;
}

.main-page-wrap {
    display: flex;
    flex-direction: row;
}

.main-page-header {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #0360BF;
    position: relative;
    height: 38px;
}
.main-page-header-icon {
    position: relative;
    width: 200px;
    text-align: left;
    min-width: 200px;
}
.main-page-header-icon > a{
    margin: 5px;
    position: relative;
    top: 6px;
    left: 10px;
}


.header-button {
    background-color: transparent;
    color: #D1E0F3;
    border: 1px solid #D1E0F3;
    position: relative;
    top: 7px;
    right: 20px;
    padding: 3px;
    border-radius: 3px;
    height: 25px;
}

.header-button:hover {
    color: white;
    border: 1px solid white;
}

.list-summary-fake {
    position: relative;
    left: -20px;
    margin: 10px;
    width: 40%;
    background-color: #E4EEF8;
    border-radius: 5px;
}

.list-summary-content {
    display: flex;
    flex-direction: row;
}

.list-summary-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: #DAE8F6;
    position: relative;
    left: 20px;
    width: 80px;
    height: 50px;
    border-radius: 3px;
}

.list-summary-item > p {
    margin: 0px;
}

.list-summary-fake > h3 {
    position: relative;
    left: 21px;
    margin: 5px;
    text-align: left;
    margin-top: 20px;
}

.coffee {
    position: relative;
    top: -20px;
    cursor: pointer;
}

.coffee-talk {
    margin-top: 100px;
    background-color: #FFFABF;
    width: 150px;
    position: relative;
    left: 20px;
    padding: 5px;
    font-size: 15px;
}

.arrow-down-1 {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #FFFABF;
  position: relative;
  left: 85px;
  top: -16px;
}

.search-bar-container {
    position: relative;
    width: 50%;
    text-align: left;
    ::placeholder {
        color: rgb(202, 196, 196);
    }
}

.search-bar-container > form > input {
    background-color: #4580CD;
    border: none;
    height: 26px;
    width: 266px;
    border-radius: 5px;
    position: relative;
    top: 5px;
    
}




.search-bar-container > form > input:focus {
    outline: none;
    background-color: #FFFFFF;
}

.main-page-header-logout {
    position: relative;
    width: 36%;
    text-align: right;
}