

body {
    text-align: center;
}

.login-container {
    display: flex;
    flex-direction: row;
    font-family: 'Varela Round', sans-serif;
}

.signup-container {
    display: flex;
    flex-direction: row;
    font-family: 'Varela Round', sans-serif;
}

.left-half {
    color: white;
    width: 50%;
    padding: 50px;
    flex-direction: column;
    background-color: #0360BF;
    height: 1000px;
    position: relative;
}

.the-coffee {
    margin-top: 300px;
}

.right-half {
    color: black;
    width: 50%;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    height: 1000px;
    padding-left: 50px;
    position: relative;
}

.signup-button {
    position: absolute;
    top: 40px;
    right: 16px;
    background-color: #E8EFF9;
    border: none;
    color: #8C9096;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    margin: 5px;
    width: 130px;
    height: 30px;
}

.session-logo-wrap {
    position: absolute;
    top: 40px;
    left: 100px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-family: 'VT323', monospace;
    font-size: 18px;
    color: white;
}


.session-wrap {
    position: absolute;
    top: 28%;
    display: flex;
    flex-direction: column;
}

.session-wrap > h2 {
    font-size: 20px;
    text-align: left;
}

.session-input {
    display: flex;
    flex-direction: column;
}

.session-input > input {
    margin: 5px;
    padding: 15px;
    font-size: 20px;
    width: 400px;
    
}

.session-input > input:focus {
  box-shadow:2px 2px 2px 2px  #8FBBDD;
}

.session-input > button {
  background-color: #009DFF;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 15px;
  font-size: 20px;
  text-align: center;
  margin: 5px;
  width: 435px;
}

.session-input > button:hover {
    background-color: #0075be;
}

.session-quote {
    position: relative;
    top: 35%;
}

.error-message > ul {
    list-style-type: none;
    text-align: right;
    background-color: #FCE6DE;
    border-radius: 5px;
}

.error-message > ul > li {
    padding: 10px;
    text-align: center;
}

