.list-plus {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    margin-bottom: -35px;
}

.list-plus > button {
    background-color: transparent;
    border: 1px solid #79B2E0;
    color: #79B2E0;
    font-weight: bold;
    height: 15px;
    width: 15px;
    text-align: center;
    padding: 0%;
    position: relative;
    top: 18px;
    right: 10px;
}

.list-plus > p {
    position: relative;
    left: -45px;
    bottom: 3px;
}

.list-plus > img {
    position: relative;
    top: 18px;
    left: 10px;
}

.list-header-link {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-family: 'VT323', monospace;
    padding-top: 15px;
}

.list-header-link > p {
    color: #0360BF;
    font-size: 18px;
    position: relative;
    top: 8px;
}


.sidebar {
    position: relative;
    background-color: #D7E7F5;
    height: 95vh;
    width: 190px;
    min-width: 190px;
    font-family: 'Mukta', sans-serif;
}

.list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px;
    font-size: 14px;
    border-radius: 3px;
    margin-left: 5px;
}

.list-item:hover {
    background-color: #C8DCF1;
}

#list-text {
    text-decoration: none;
    color: black;
}

.list-drop-down > button {
    background-color: transparent;
    border: 1px solid #79B2E0;
    color: #79B2E0;
}

.list-ul {
    list-style: none;
    display: inline;
    text-align: left;
}



// .list-drop-down {
//     position: absolute;
//     background: white;
//     right: 17px;
//     top: 18px;
//     z-index: 1;
//     border-radius: 3px;
//     padding: 4px;
//     box-shadow: 0 1px 4px 1px rgba(0,0,0,0.2);
// }
